<html>
    <head>

    </head>

    <body>
        <h1> Timesheet has approved! </h1>
        <p> Dear <%= name %>! </p>
        <p> Your timesheet from <bold> <%= startDate %> </bold> to <bold> <%= endDate %> </bold> has been approved! </p>
        You can see timesheet details <a href="<%= timesheet_url %>" __target="blank"> here </a>

        <br /> <br />
        <p> If you have any problem, please <a href="<%= contact_url %>"> Contact us </a></p>
    </body>
</html>